.header-container {
    background-color: #232946;
}

.header-text h1 {
    font-size: 50px;
    color: #fffffe;
}

.header-text p {
    color: #b8c1ec;
}

.text-color {
    color: #fffffe;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    transition: 0.4s;
}

.text-color:hover {
    background-color: #0e172c;
    color: #fffffe;
}